/*Paleta ff4000-000614-135b89-eee5e9-faaa8d*/

html{
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --cor-destaque: #ff4000;
  --cor-secundaria: #135b89;
  --cor-background: #000614;
  --cor-texto: #eee5e9;
  --cor-texto-modal: white;
}

.light-mode{
  --cor-destaque: #ff4000;
  --cor-secundaria: #135b89;
  --cor-background:  #eee5e9;
  --cor-texto: #000614;
  --cor-texto-modal: white;
}

.light-mode #moneyImg, .light-mode .svg-icon, .light-mode form input {
  filter: invert(1);
}

.content1{
  position: relative;
}

.fixed-button {
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: transparent;
  color: white;
  width: 2rem;
  cursor: pointer;
  z-index: 999;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--cor-texto);
  }

  h1,h2,h3,h4,h5,h6{
    font-weight: bold;
  }

  header{
    display: block;
  }

  section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Anotação para estudo: é esse background-attachment que dá o efeito do parallax!*/
    background-size: cover;
    -webkit-background-size: cover;  /* Anotação para estudo, podemos colocar assim para se adaptar a todos os navegadores*/
    -moz-background-size: cover;
    -o-brackground-size: cover;
  }

div.section-wrapper{
    display: flex;
    flex-direction: column;
}

.card-container{
  display: flex;
  flex-direction: column;
}

.inner-p{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.inner-p a{
  margin-top: 10px;
  text-decoration: none;
  color: var(--cor-destaque);
  font-weight: 600;
}

section.module:last-child{
  margin-bottom: 0;
}

section.module.parallax h2{
  margin-bottom: 40px;
  font-size: 30px;
  color: #eee5e9 ;
  align-items: center;
  text-align:center;
  position: absolute;
  top: 10%;
  right: 5%;
  text-shadow: 1px 1px #000614;
}

section.module.parallax2 h2{
  position: absolute;
  top: 10%;
  left: 4.1%;
}

section.module.parallax3 h2{
  position: absolute;
  top: 10%;
  left: 5%;
  padding: 10px 10px;
  width: max-content;
}

section.module.parallax h3{
  margin-top: 80px;
  margin-bottom: 40px;
  text-align:center;
  font-size: 30px;
  color:#eee5e9  ;
  align-items: center;
  position: absolute;
  top: 20%;
  right: 5%;
  text-shadow: 1px 1px  #000614;
}

section.module.content{
  padding: 40px 0;
  background-color:  var(--cor-background);
}

section.module.content3{
  position:relative;
  text-align: -webkit-center;
}

section.module.parallax1{
  background-image: url("../src/fundo.jpg");
}

section.module.parallax2{
  background-image: url("../src/fundo_hands2.png");

}

section.module.parallax3{
  background-image: url("../src/fundo_deal.png");
}


/* Slideshow container */
.slideshow-container {
  position: relative;
  background: var(--cor-background);
  max-width: 900px;
  align-self: center;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: var(--cor-destaque);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: var(--cor-destaque);
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background:var(--cor-background);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--cor-texto);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: var(--cor-destaque);
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
  font-weight: 400;
}

.title-slide {
  color: var(--cor-destaque);
  font-weight: 600;
}

  .title-p{
    font-size: larger;
    color: var(--cor-destaque);
  }

  .inner-content-1 a{
    text-decoration: none;
    color: var(--cor-destaque);
  }

  .inner-content-2, .inner-content-1{
  width: auto;
    background-color:var(--cor-background) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   padding: 0 2em;
   text-align: justify;
   height: auto;
  }

  .inner-content-2 h3, .inner-content-1 h3{
    color:var(--cor-texto) ;
    text-align: center;
    border-bottom:solid 1px var(--cor-destaque);
    border-top:solid 1px var(--cor-destaque);
    border-radius: 10px 10px;
    padding: 20px 20px;
  }

  .inner-p{
    padding-top:20px;
  }

  .inner-content-2 p, .inner-content-1 p{
    font-weight:600;
    
  }

  .inner-content-2 p span{
    color: var(--cor-secundaria);
    text-align: center;
    border-radius: 10px 10px;
    font-weight: 1100;
  }

  .inner-content-2 h4{
    color:var(--cor-texto) ;
    text-align: center;
    border-bottom:solid 1px var(--cor-destaque);
    border-top:solid 1px var(--cor-destaque);
    border-radius: 10px 10px;
    padding: 10px 10px;

  }

  .inner-content-2 h4 a{
    text-decoration: none;
    color: var(--cor-texto);
  }

  .inner-content-2 h4 button{
    box-shadow: black; 
    border-radius: 10px 10px;
    padding: 5px 5px;
    background-color: transparent;
    color: var(--cor-destaque);
  }

  .inner-content-2 h4 a:hover{
    color: var(--cor-destaque);
  }

  .inner-content-2 h4 button:hover{
    transform: scale(1.1);
  }

#moneyImg{
  width: 8%;
  height: 5%;
}
 
#moneyImg{
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
    animation: girarInfinitamente 5s linear infinite;
}

@keyframes girarInfinitamente {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.flip-card {
  cursor: pointer;
  margin: 20px 20px;
  background-color: transparent;
  width: 300px;
  height: 200px;
  border-top: 1px solid var(--cor-texto);
  border-bottom: 1px solid var(--cor-texto);
  border-radius: 10px 10px; 
  perspective: 1000px;  /* Para dar noção de 3D */
}

.flip-card:nth-child(1){
  margin-right: 30px;
}

.flip-card:nth-child(2){
  margin-left: 30px;
}

.flip-card p{
  text-align: center;
  padding: 10px 10px;
  line-height: 1.5;
}


/* Posicionar a frente e verso do cartão */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px; 
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: var(--cor-background);
  color: var(--cor-destaque);
}

.flip-card-back {
  background-color: var(--cor-background);
  color: var(--cor-texto);
  transform: rotateY(180deg);
}


.container2{
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
  height: 50%;
  text-align: center;

}

.container2 p {
  font-weight:600;
  border-top:solid 1px var(--cor-destaque);
  border-bottom:solid 1px var(--cor-destaque);
  border-radius: 10px 10px;
  padding: 10px 10px;
  
}

.selic-text, .disclaimer{
  max-width: 723px;
}

.inner-content-1 .disclaimer{
  font-weight: 200;
}


#ebook{
  border-radius: 10px 10px;
  width: 15rem;
  margin: 20px 20px;
  align-self: center;
  margin-bottom: 40px;
}

.section-wrapper3{
  position:relative;
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  padding: 20px 20px;
  max-width: 723px;
}

.divForm{
  align-self: center;
  min-width: 300px;
  padding-right: 2rem;
}

form{
  align-items: center;
}

fieldset{
  border: none;
  width: 100%;
  height: 100%;
  color: 000614;
  border-top: solid 1px var(--cor-destaque);
  border-bottom: solid 1px var(--cor-destaque);
  background-color: transparent;
  border-radius: 30px 0;
  display: flex;
}

fieldset ul{
  align-items: center;
  text-align: justify;
}

fieldset ul li::marker{
  color: var(--cor-destaque);
}
fieldset ul li a:hover{
  color: var(--cor-destaque);
  cursor: pointer;
}

form a{
  text-decoration: none;
  color: var(--cor-secundaria);
}

form input{
  outline: none;
  border: 1px solid #d7d7d7;
  margin-top: 10px;
  border-radius: 10px 10px;
  background-color: transparent;
  width: -webkit-fill-available;
  padding: 10px 20px;
  color: white;
}


form button{
  cursor: pointer;
  border-bottom: solid 1px #000614;
  border-top: solid 1px #000614;
  border-left: solid 1px var(--cor-secundaria);
  border-right: solid 1px var(--cor-secundaria);
  box-shadow: black;
  border-radius: 10px 10px;
  padding: 5px 5px;
  width: 90%;
}
form button a{
  font-weight: 600;
}

.align-button{
  text-align: center;
}

form button:hover a{
  color: var(--cor-destaque);
}

form button:hover{
 color: var(--cor-destaque);
 transform: scale(1.1);
}


/* Css para o Modal da Política de Privacidade */
/* The Modal (background) */
.modal {
  position: absolute;
  top:0;
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  padding-top: 2em; /* Location of the box */
  padding-bottom: 2em; /* Location of the box */
  width: 100%; /* Full width */
  height: -webkit-fill-available;
  overflow: auto; /* Enable scroll if needed */
}


/* Using the scrollbar style to "hide" the scrollbar */
.modal::-webkit-scrollbar {
  width: 10px;
}

.modal::-webkit-scrollbar-thumb {
  background-color: var(--cor-background);
  border-radius: 5px;
}

.modal::-webkit-scrollbar-track {
  background-color: var(--cor-background);
}

.modal::-webkit-scrollbar-thumb:hover {
  background-color: var(--cor-background);
}

/* Adicionando uma transição suave à barra de rolagem */
.modal::-webkit-scrollbar-thumb {
  transition: background-color 0.3s ease-in-out;
}

/* Style to the scroll bar from the body */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--cor-background);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--cor-background);
  background-color: #555;
}

::-webkit-scrollbar-thumb {
  transition: background-color 0.3s ease-in-out;
}


/* Modal Content */
.modal-content {
  text-align:center;
  position: relative;
  background-color: black;
  margin: 2em auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--cor-destaque);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: rgb(0, 9, 29);
  color: white;
}

.modal-body {
  padding: 10px 40px;
  margin-bottom: 10px;
}

.modal-body p{
  color: var(--cor-texto-modal);
}

.modal-body p span{
  font-weight: 600;
}



.modal-body a{
  text-decoration: none;
  color: var(--cor-destaque);
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 9, 29);
  text-align: center;
  border-top: 1px solid var(--cor-destaque);
}

footer h5{
  color: white;
}



@media (min-width: 780px) {
  .section-wrapper{
    display: flex;
    flex-direction: row;
  }

  .section-wrapper3{
    position: relative;
    display: flex;
    flex-direction: row;
    padding-right:50px;
  }

  .section-wrapper3 .inner-p{
    display: none;
  }

  #ebook{
    height: 20rem;
    width: 20rem;
  }
  
  .card-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    max-width: 930px;
  }
 
  section.module.parallax2 h2 {
    position: absolute;
    top: 10%;
    padding: 10px 10px;
    left: 4.1%;
    right: 50%;
  }

  section.module.parallax3 h2 {
    position: absolute;
    top: 10%;
    padding: 10px 10px;
    left: 5%;
    right: 70%;
    width: max-content;
  }
  .modal{
    height: -webkit-fill-available;
  }
  .modal-content{
    width: 80%;
  }
}


@media(min-width: 480px){
  .modal-content{
    text-align:justify;
  }
}

@media (max-width: 780px){

  section.module.parallax2, section.module.parallax3{
    background-position: right;
  }

}
